<footer class="ba-footer">
	<div class="row">
		<div class="column small-12 medium-4 ba-footer__col-1">
			<img src="../assets/img/lp_gray.png" alt="f">
			<img src="../assets/img/library.png" alt="f">
			<img src="../assets/img/ebook.png" alt="f">
			<img src="../assets/img/ntshukgray.png" alt="f">
		</div>
		<div class="column small-12 medium-4 ba-footer__col-2">
			<div class="row">

				<div class="column small-6 medium-12 large-6">
					<ul class="menu vertical">
						<li><a href="catalog.html">КАТАЛОГ</a></li>
						<li><a href="news.html">ПОДІЇ/ЦІКАВЕ</a></li>
						<li><a href="contacts.html">КОНТАКТИ</a></li>
					</ul>
				</div>
				<div class="column small-6 medium-12 large-6">
					<ul class="menu vertical">
						<li><a href="#">Як придбати</a></li>
						<li><a href="#">Цiни</a></li>
						<li><a href="#">Вимоги до друку</a></li>
						<li><a href="#">Книгарнi</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="column small-12 medium-4 ba-footer__col-3">
			<ul class="menu vertical">
				<li>
					<a href="#">
						<svg width="29" height="30">
							<use xlink:href="#icon-card" />
						</svg>
						<span class="show-for-medium">
							Кошик
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<svg width="29" height="30">
							<use xlink:href="#icon-user" />
						</svg>
						<span class="show-for-medium">
							Увійти
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.row -->
</footer>
<!-- /.ba-footer -->