<div class="row column">
	<h2 class="ba-heading-line">
		Події/Цікаве
	</h2>

	<div class="row">
		{{#repeat 3}}
		<div class="column small-12 medium-4">
			<article class="ba-event">
				<a href="#" class="ba-event__link">
					<img src="assets/img/event-img3.jpg" alt="Хай живуть канікули!">
				</a>
				<div class="ba-event__body">
					<h3 class="ba-event__title">Хай живуть канікули!</h3>
					<a href="#">Хай живуть канікули!</a>
					<p>Дорогі Автори, Читачі, Покупці!
						Наразі нам не пишіть і не дзвоніть.
						Ми будемо поза межами і поза зонами.</p>
				</div>
			</article>
		</div>		
		{{/repeat}}
	</div>
</div>